.shortlist-section-1 {
  margin: 80px 40px;
}
.shortlist-section-1 .title {
  margin-bottom: 40px;
  width: 997px;
  height: 49px;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  color: #bb362a;
}
.shortlist-section-1 .subtitle {
  margin-top: 92px;
  width: 997px;
  height: 29px;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #bb362a;
}
